<%- include("partials/header") %>
          
<div id="search_form" class="text-center">
        <h3 class="text-center">Search For A Movie</h3>

        <form class="container" action="results" method="GET">
            <input type="text" placeholder="Search Term" name="search">
            <button class="btn btn-warning" type="submit">Submit</button>
        </form>
    </div>
</div>

<%- include("partials/footer") %>